.DS_Store
/node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# icon binary files 使这个文件夹不受监管
/src/assets/iconfont

# build target
*.war
*.zip
/dist

#customized configuration
#开发人员自定义配置项
.npmrc
package-lock.json
yarn.lock
/bundle-stats.json