/* 改变主题色变量 */

//$--color-white: rgba(56,100,172,0.6) !default;
$--color-white: rgba(22,72,154,.24) !default;
$--color-primary: #409EFF !default;
$--border-color-lighter:  #409EFF !default;
$--color-text-regular:  #56f3ff  !default;
$--color-text-secondary: #56f3ff !default;
$--background-color-base:  #409EFF !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
$--color-text-placeholder: #409EFF !default;
$--color-text-primary: #56f3ff !default;

$--border-radius-base: 4px !default;
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #409EFF!default;
$--border-color-light: #409EFF !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-color-hover: $--color-text-placeholder !default;
$--disabled-fill-base: $--background-color-base !default;
$--disabled-border-base: $--border-color-light !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--font-color-disabled-base: #bbb !default;
$--border-color-extra-light: #f2f6fc !default;
$--font-weight-primary: 700 !default;

$--dialog-background-color: rgba(56,100,172,0.95) !default;
$--table-header-background: #2c4f86 !default;
$--table-border-color: $--border-color-lighter !default;
$--table-border: 1px solid $--table-border-color !default;
$--table-text-color: $--color-text-regular !default;
$--table-header-color: $--color-text-secondary !default;
$--table-row-hover-background: $--background-color-base !default;
$--table-current-row-background: $--color-primary-light-9 !default;
$--table-header-background: #848086 !default;
$--table-footer-background: $--color-text-placeholder !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;


$--input-color: $--color-text-regular !default;
$--input-border: $--border-base !default;
$--input-border-color: $--border-color-base !default;
$--input-border-radius: $--border-radius-base !default;
$--input-border-color-hover: $--border-color-hover !default;
$--input-fill: $--color-white !default;
$--input-fill-disabled: $--disabled-fill-base !default;
$--input-color-disabled: $--font-color-disabled-base !default;
$--input-icon-color: $--color-text-placeholder !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-max-width: 314px !default;
$--input-hover-border: $--border-color-hover !default;
$--input-clear-hover-color: $--color-text-secondary !default;
$--input-focus-border: $--color-primary !default;
$--input-focus-fill: $--color-white !default;
$--input-disabled-fill: $--disabled-fill-base !default;
$--input-disabled-border: $--disabled-border-base !default;
$--input-disabled-color: $--disabled-color-base !default;
$--input-disabled-placeholder-color: $--color-text-placeholder !default;


$--datepicker-color: $--color-text-regular !default;
$--datepicker-off-color: $--color-text-placeholder !default;
$--datepicker-header-color: $--color-text-regular !default;
$--datepicker-icon-color: $--color-text-primary !default;
$--datepicker-border-color: $--disabled-border-base !default;
$--datepicker-inner-border-color: $--color-primary !default;
$--datepicker-inrange-color: $--border-color-extra-light !default;
$--datepicker-inrange-hover-color: $--border-color-extra-light !default;
$--datepicker-active-color: $--color-primary !default;
$--datepicker-text-hover-color: $--color-primary !default;
$--datepicker-cell-hover-color: #fff !default;


$--button-default-color: $--color-text-regular !default;
$--button-default-fill: $--border-color-extra-light !default;
$--button-default-border: $--border-color-base !default;

$--button-disabled-color: $--color-text-placeholder !default;
$--button-disabled-fill: $--border-color-extra-light !default;
$--button-disabled-border: $--border-color-lighter !default;

$--button-primary-border: $--color-primary !default;
$--button-primary-color: $--color-text-primary!default;
$--button-primary-fill: $--color-primary !default;





/* 改变 icon 字体路径变量，必需 */





$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";